<div class='modal-card'>
  <button class='btn-close'></button>
  <img class='modal-card__img' alt='{{poster_path}}' />

  <div class='modal-card__content'>
    <h2 class=''>{{original_title}}</h2>
    <p class=''>'Vote / Votes' {{vote_average}} / {{vote_count}}</p>
    <p class=''>'Popularity' {{popularity}}</p>
    <p class=''>'Original Title' {{original_title}}</p>
    <p class=''>'Genre' {{genres.name}}</p>
    <h3 class=''>'About'</h3>
    <p class=''> {{overview}}</p>

    <button class=''>add to Watched</button>
    <button class=''>add to queue</button>
  </div>

</div>