{{#each this}}
  <li class='movie-card' data-movieId='{{id}}'>

    {{#if poster_path}}
      <img
        class='movie-image'
        src='https://image.tmdb.org/t/p/w300{{poster_path}}'
        loading='lazy'
        alt='Movie {{title}} poster'
      />
    {{else}}
      <img
        class='movie-image'
        src='https:/moltogusto.com.ua/no-poster.jpg'
        loading='lazy'
        alt='Movie {{title}} poster'
      />
    {{/if}}

    <div class='movie-content'>
      <h2 class='movie-title'> {{title}} </h2>

      <div class='genre-release-date'>
        {{#each genres}}
          <p class='genre'>
            {{name}}
          </p>
        {{/each}}
      </div>

      <p class='movie-release-date'> {{release_date}} </p>

      <p class='movie-vote'>
        {{vote_average}}
      </p>

    </div>
  </li>
{{/each}}